@model IPagedList<GemspaceBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;

<h4 class="text-success">@TempData["msg"]</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Img1Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Img2Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedAt)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadTime)
        </td>
        <td>
           <img src="@Url.Content(item.Img1Path)" width="100" height="100" />
        </td>
        <td>
            <img src="@Url.Content(item.Img2Path)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "PostAdmn", new { i}))
