@model IPagedList<GemspaceBlog.Models.Post>

@{
    ViewBag.Title = "Nature";
}

@using PagedList.Mvc;
@using PagedList;

<section class="w-100 position-relative overflow-hidden pages-header">
    <img class="page-wallpaper" src="~/globalimg/nature-landscape.jpg" alt="GemSpace Coding Wallpaper" />
    <h1>Nature</h1>
    <img class="page-wave-svg w-100" src="~/globalimg/page-wave.svg" alt="GemSpace Page Wave Svg" />
</section>

<section class="main-content">

    @foreach (var item in Model)
    {
        <article class="generated-content">
            @*need title short desc img 1*@
            <div class="generated-img">
                <img src="@Url.Content(item.Img2Path)"> <!--image 1-->
            </div>
            <div class="generated-text">
                <div class="w-100 d-flex justify-content-between flex-wrap">
                    <h2 class="generated-title"><a href="@Url.Action("Article","Home", new { id = item.Id})">@item.Title</a></h2><!--title-->
                    <h5 class="generated-category">@item.Category</h5><!--category-->
                </div>
                <p class="generated-shdesc">
                    @item.ShortDescription
                </p><!--short desc-->
                <h6 class="text-right" style="color:rgba(200,200,200,1);margin:15px 0;">@item.CreatedAt</h6>
            </div>
        </article>
    }
</section>
@Html.PagedListPager( Model, i => Url.Action("Nature", "Home", new { i }))


